@import "../../../global.scss";
@import "../../../theme/variables.scss";

ion-header{
    padding: 40px 0;
    height: 15%;
    background: white;

    .logo{
        margin: 0 auto 0 !important;
    }

    ion-toolbar{
        top: -35px;
    }
}


ion-content{
    background: white;

    .store_beschreibung{
        padding: 17px;
        height: 387px;
        margin-bottom: -22px;
        background: white;
        border-radius: 20px 20px 0 0;
        position: relative;
        top: -20px;
        box-shadow: 0px -7px 7px 0px rgba(0,0,0,0.1);
        }

    .overscroll{
        background: white;
    }

    ion-img{
        z-index: 99;
    }

    ion-row{

        p{
            height: 140px;
        }

        ion-col{
            .price{
                text-align: end;
            }

            

            ion-icon{
                width: 25px;
                height: 25px;
            }
        }
    }
}
    
