<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/deals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-img src="../../assets/avocado.jpg"></ion-img>
  <div class="store_beschreibung">
    <ion-row>
      <ion-col size="9"><h2><b>{{ store.storeName }}</b></h2></ion-col>
      <ion-col size="3">
        <ion-icon *ngIf="!favStore" (click)="changeFavStore()" name="heart-empty"></ion-icon>
        <ion-icon *ngIf="favStore" (click)="changeFavStore()" name="heart"></ion-icon>
      </ion-col>
      <p>{{ store.description }}</p>
    </ion-row>

    <ion-row>
      <ion-col size="2"><ion-icon name="pin"></ion-icon></ion-col>
      <ion-col size="8">{{ store.adress }}, {{ store.zip }} {{ store.city }}</ion-col>
    </ion-row>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
  