@import "../../global.scss";
@import "../../theme/variables.scss";

ion-header {
  background: white;
  padding: 0;
  height: 100px;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

#setPosition {
  z-index: 40000;
}