<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/deals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <h3>Angebot erstellen</h3>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input  name="title" type="text" maxlength="20" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Beschreibung</ion-label>
              <ion-textarea name="description" type="text" maxlength="100" ngModel required></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Reduzierter Preis</ion-label>
              <ion-input name="afterPrice" type="number" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Vorheriger Preis</ion-label>
              <ion-input name="beforePrice" type="number" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Bild</ion-label>
              <ion-input name="picture" type="file" (change)="uploadFile($event)" ngModel></ion-input>
            </ion-item>
            
          </div>
          <div class="ion-padding">
            <ion-button routerLink="/tabs/deals" type="submit" [disabled]="form.invalid" expand="block">Erstellen</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
      
    
  