<ion-grid>
 <!-- <ion-title>
  </ion-title>-->
  <!--<ion-header>
  </ion-header>-->
  <ion-content>
    <div *ngIf="afAuth.user | async as user; else showLogin">
      <!-- ngIf Show Login or show register -->
      <h1>Hi {{ user.displayName }}!</h1>
      <ion-button (click)="logout()">Logout</ion-button>
    </div>
    <ng-template #showLogin>
      <h2>Willkommen zurück!</h2>
      <hr>
      <p>Melde dich für nachhaltige Angebote.</p>
      <form>
        <ion-item class="form-group">
          <ion-label position="floating" for="email">E-Mail</ion-label>
          <ion-input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item class="form-group">
          <ion-label position="floating" for="pwd">Passwort</ion-label>
          <ion-input type="password" class="form-control" [(ngModel)]="pwd" name="pwd" id="password"></ion-input>
        </ion-item>

        <ion-button size=small class="ion-activatable" type="submit" (click)="login(email, pwd)">
          ANMELDEN
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </form>
      <a href="/">Passwort vergessen?</a>
      <hr>
      <p class="subheadline">Neu hier?
        <a href="/">Registriere dich jetzt</a>
      </p>
    </ng-template>
  </ion-content>
<!--  <ion-toolbar>
  </ion-toolbar>-->
</ion-grid>
