@import "../../global.scss";
@import "../../theme/variables.scss";

ion-grid {
  width: 100%;
  margin: auto;
  padding: 110px 8%;
  text-align: center;

  ion-header {
    background-color: white;
  }

  ion-content {
    --background: $background-gradient;
    margin-top: 10px;
  }

  form {
    margin-top: 50px;
  }

}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-button {
  margin-top: 40px;
}

ion-item.form-group {
  margin: 50px 0;
  background-color: transparent;
  font-size: $headline;
}

ion-label {
  margin-top: 0;
}
