@import "../../global.scss";
@import "../../theme/variables.scss";

ion-grid {
  width: 100%;
  margin: auto;
  padding: 110px 8%;
  text-align: center;

  ion-header {
    background-color: white;
  }

  ion-content {
    --background: $background-gradient;
    margin-top: 10px;
  }

  form {
    margin-top: 50px;

    ion-item {
      --ion-item-background: transparent !important;

      .form-group {
        margin: 30px 0;
        font-size: $headline;
      }
    }
  }

  .subheadline {
    font-size: $subheadline;
  }
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

ion-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

ion-label {
  margin-top: 0;
}
