<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
    <p>Please login.</p>
    <form>
      <ion-item class="form-group">
        <ion-label position="floating" for="email">Email</ion-label>
        <ion-input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating" for="pwd">Password</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="pwd" name="pwd" id="password" (keydown.enter)="navigate()"></ion-input>
      </ion-item>

      <ion-button size=small class="ion-activatable" type="submit" (click)=" navigate()">
        Login
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>

    </form>
    <span (click)="_autentication.resetPassword()">Passwort zurücksetzen</span>
  
 <!--  <div *ngIf="_autentication.afAuth.user | async as user; ">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="_autentication.logout()">Logout</button>
  </div> -->
</ion-content>
