<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="10">
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-img routerLink="facts" class="img_logo" src="../../assets/icon/firefly_icon.png"></ion-img>
    </ion-col>
  </ion-row>

  <h3>Angebote</h3>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon id="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-row>
    <ion-col routerLink="{{ deal.id }}" size="6" *ngFor="let deal of allDeals">
      <ion-card>
        <ion-img src="../../assets/avocado.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ deal.title }}</ion-card-title>
          <ion-card-subtitle>{{ deal.price }} €</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{ deal.description }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
