// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: linear-gradient(to right, #FFA462 , #FFB762);
  --ion-color-primary-hover: linear-gradient(to right, #EA7724 , #EA9736);
  --ion-color-primary-contrast: #ffffff;

  /** secondary **/
  --ion-color-secondary: #FFA462;
  --ion-color-secondary-contrast: #ffffff;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-contrast: #ffffff;

  /** button gradient **/
  $primary-gradient: linear-gradient(to right, #FFA462 , #FFB762);
  $secondary-gradient: linear-gradient(to right, #EA7724 , #EA9736);

  /** background gradient **/
  $background-gradient: linear-gradient(to right, rgba(255, 183, 98, 0.18) , rgba(255, 164, 98, 0.33));

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-contrast: #ffffff;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-contrast: #ffffff;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-contrast: #ffffff;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-contrast: #ffffff;

  /** light **/
  --ion-color-light: #F7F7F7;
  --ion-color-light-contrast: #000000;
}


/** font colors **/
$primary: #FFB762;
$secondary:  #FFB762;
$darkgrey: #484848;

/** font-size **/
$h1: 24px;
$h2: 20px;
$h3: 18px;
$headline: 16px;
$subheadline: 14px;
$text: 12px;


ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
}