<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/deals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <hr>
</ion-header>

<ion-content>
  <ion-row class="daily">
    <ion-col size="10"><h3>Daily Fact</h3></ion-col>
    <ion-col size="2" routerLink="deals"><ion-icon name="close"></ion-icon></ion-col>
  </ion-row>

  <ion-row class="text">
    <ion-col class="beschreibung" size="12">
      <p>Das Meer ist inzwischen einer der dreckigsten Orte der Welt. In fünf großen Müllstrudeln treiben Plastiktüten, Plastikflaschen, Strohhalme und Zahnbürsten. Wahre Plastikmüll-Wellen werden an den Stränden angespült. Tun wir nichts dagegen, wird <b>2050 mehr Plastik im Meer schwimmen als Fische.</b><br/></p>
      <ion-img class="fact_img" src="../../assets/plastics.jpg"></ion-img>
    </ion-col>
  </ion-row>

  <h3 class="h3_weiterefacts">Weitere Facts</h3>
  <ion-row class="weitere_facts">
    <ion-col size="6">
      <ion-card>
        <ion-img src="../../assets/trockenheit.jpg"></ion-img>
        <ion-card-header>Trockenheit</ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <ion-img src="../../assets/baumpflanzen.jpg"></ion-img>
        <ion-card-header>Bäume pflanzen</ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>



</ion-content>