<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <h3>Gewerbliche Angaben</h3>
            <ion-item>
              <ion-label position="floating">Firmenname</ion-label>
              <ion-input name="company" type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Adresse</ion-label>
              <ion-input name="adress" type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">PLZ</ion-label>
              <ion-input name="zip" type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Stadt</ion-label>
              <ion-input name="city" type="text" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Umsatzsteuer-ID</ion-label>
              <ion-input name="taxId" type="text" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Registrieren</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
