@import "../../../../global.scss";
@import "../../../../theme/variables.scss";

h3 {
  margin-left: 14px;
}


ion-item {
  --background: transparent !important;
}

ion-header {
  background-image: linear-gradient(to right, rgb(255, 241, 226), rgb(255, 225, 204)) !important;
}

ion-content {
  background-image: linear-gradient(to right, rgb(255, 241, 226), rgb(255, 225, 204)) !important;
}

.öff ion-input {
  text-align: center;
}

.öff ion-item ion-input{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}