@import "../../../global.scss";
@import "../../../theme/variables.scss";

ion-header{
    padding: 40px 0;
    height: 15%;
    background: white;

    .logo{
        margin: 0 auto 0 !important;
    }

    .icon-trash {
        height: 30px;
        width: 30px;
        fill: $primary;
    }
}

h2 {
    font-size: 18px;
}

p {
    line-height: 1.5;
}

ion-content{
    background: white;

    .angebot_beschreibung{
        padding: 17px;
        height: 387px;
        margin-bottom: -22px;
        background: white;
        border-radius: 20px 20px 0 0;
        position: relative;
        top: -20px;
        box-shadow: 0px -7px 7px 0px rgba(0,0,0,0.1);
        }

    .overscroll{
        background: white;
    }

    ion-img{
        z-index: 99;
    }

    ion-row{

        ion-col{
            .price{
                text-align: end;
            }

            

            ion-icon{
                width: 25px;
                height: 25px;
            }
        }
    }
}
    
