@import "../../global.scss";
@import "../../theme/variables.scss";


p {
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
}

ion-header{
  padding: 40px 0;
  height: 15%;
  background: white;
}


ion-content{
  background: white;
  height: auto;

  .shop_beschreibung{
    padding: 22px;
    height: auto;
    background: white;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -20px;
    box-shadow: 0px -7px 7px 0px rgba(0,0,0,0.1);

    .deals-loaded {
      height: 230px;
      margin-top: 25px;
    }

    .store-name {
      padding: 0;
    }
    .heart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      color: $primary;
      height: 10px;
      width: 10px;
      ion-icon {
        height: 25px;
        width: 25px;
        margin-top: 44px;
      }
    }
  }

  .overscroll {
    background: white;
  }

  ion-img{
    z-index: 99;
  }

  ion-row{

    ion-col{
      font-weight: 200;
      font-size: 14px;
      padding: 0;

      p {
        margin: 0;
      }

      .price{
        text-align: end;
      }

      ion-icon.time_location {
        color: $darkgrey;
        width: 25px;
        height: 25px;
      }
    }
  }
  #add-icon {
    height: 50px;
    width: 50px;
  }
}

.stores ion-card {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 0 0 10px 0;
  top: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px 0;
  ion-card-header {
    padding: 5px;
    text-align: center;
    height: auto;
  }
  ion-img{
    height: 88px;
    object-fit: cover;
  }
}

.stores {
  margin-bottom: -70px;
}

.horizontal-scroll-wrapper {
  transform:rotate(-90deg) translateY(-150px);
  transform-origin: right top;
  width: 150px;
  height: 358px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -16px;
}

.sc-ion-card-ios-h{
  transform:rotate(90deg)
}

.info-text {
  padding-top: 5px !important;
}