<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="{{ store.imgUrl}}"></ion-img>
  <div class="shop_beschreibung">
    <ion-row>
        <ion-col size="9"><h2><b>{{ store.storeName }}</b></h2></ion-col>
        <ion-col size="3">
          <ion-icon *ngIf="!favStore" (click)="changeFavStore()" name="heart-empty"></ion-icon>
          <ion-icon *ngIf="favStore" (click)="changeFavStore()" name="heart"></ion-icon>
        </ion-col>
    </ion-row>
    <p>
      {{ store.description }}
    </p>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="time_location" name="pin"></ion-icon>
      </ion-col>
      <ion-col size="8">{{ store.adress }}, {{ store.zip}},  {{ store.city }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="time_location" name="time"></ion-icon>
      </ion-col>
      <ion-col size="8">Öffnungszeiten: Montag bis Freitag von 08:00 bis 17:30 Uhr</ion-col>
    </ion-row>

    <div *ngIf="dealsLoaded">
      <h3>Angebote</h3>
  
      <ion-row class="stores horizontal-scroll-wrapper" >
        <ion-col size="12">
          <div *ngFor="let deal of allDeals">
            <ion-card routerLink="{{ deal.id }}">
              <ion-img src=" {{ deal.imgUrl }}"></ion-img>
              <ion-card-subtitle>
                <p>{{ deal.title }}</p>
                <p>{{ deal.afterPrice.toFixed(2) }}€ statt <s>{{ deal.beforePrice.toFixed(2) }}€</s></p>
              </ion-card-subtitle>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon id="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
