<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h3>Mein Homefence / Standort</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Adresse</h4>
        <p>Gartenweg 2</p>
        <p>Mosbach</p>
      </ion-col>
      <ion-col>
        <h4>Umkreis festlegen</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
