ion-header{
    background: white;
    padding: 40px 0;
    height: 15%;

    ion-row{
        padding: 17px;
    }

    ion-toolbar{
        top: -35px;
    }

    .logo{
        margin: 0 auto 0 !important;
    }

    hr{
        margin: -12px;
    }
}

ion-content{
    background: white;
    padding: 0 17px 0;

    ion-row{
        padding: 17px;
        margin-top: -24px;
        padding-bottom: 0;

        .text{
            top: -40px;
            position: relative;
        }

        .daily{
            
        }

        ion-col{   

            padding: 0;
            
           p {
               text-align: justify;
               margin-bottom: 30px;
               line-height: 1.5;
           }

           h2{
               text-align: center;
           }
            
            .fact_img{
                border-radius: 20px;
                overflow: hidden;
            
            }
        }

        ion-icon {
            font-size: 44px;
            color: peachpuff;
            margin-left: 26px;
        }
    }

    .h3_weiterefacts{
        padding-left: 17px;
        padding-top: 20px;
    }

    .weitere_facts{
        height: 155px;

        h3{
            padding-left: 4px;
            padding-top: 30px;
        }

        .sc-ion-card-ios-h{
            margin-inline-start: 6px;
        }
    }
}
