/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "~leaflet/dist/leaflet.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/variables.scss";

body {
  font-family: "Avenir Next";
}

/*********************************/
/* General styling */
body {
  font-family: "Avenir Next";
}

ion-app {
  margin: auto;
  padding-top: 40px;
  background-image: linear-gradient(to right, rgba(255, 183, 98, 0.18), rgba(255, 164, 98, 0.33));

}

.logo {
  font-family: 'Pacifico', cursive;
  color: $darkgrey;
  font-size: $h2;
  margin: 0 auto;
  top: 0;
}

ion-button {
  height: 50px;
  --color: --ion-color-primary;
  width: 100%;
  color: white;
  font-size: $h2;

  &:hover {
    --color: --ion-color-primary-hover;
  }

  .activated {
    --color: green;
  }
}


/*********************************/
/* font sizes */
h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

.headline {
  font-size: $headline;
}

.subheadline {
  font-size: $subheadline;
}

a {
  font-size: $subheadline;
  color: #EA7724;
  font-weight: bold;
  text-decoration: none;
}

/*********************************/
/* app styling */


hr {
  margin: 20px 0;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.leaflet-popup {
  bottom: -10px !important;
  left: -113px !important;
}

.leaflet-popup-content-wrapper{
  border-radius: 20px;
}

.leaflet-popup-content {
  margin: 0 !important;
  margin: 0px 0px 13px 0px;
  width: 240px;
  height: 215px;

    img{
      border-radius: 20px 20px 0px 0px;
      }
    
    h2{
      margin: 10px;
    }
}

.leaflet-popup-close-button{
  color: #EA7724 !important;
  top: 8px !important;
  right: 8px !important;
}