<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-item>
            <ion-label position="floating" for="name">{{ user.displayName }}</ion-label>
            <ion-input type="text" class="form-control" id="name" [(ngModel)]="displayName" (keydown.enter)="saveNameAndPhoto()" (focusout)="saveNameAndPhoto()" name="name"></ion-input>
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label position="floating" for="email">{{ user.email }}</ion-label>
          <ion-input type="text" class="form-control" id="email" [(ngModel)]="email" (keydown.enter)="saveEmail(email)" (focusout)="saveEmail(email)" name="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            Lieblingsläden
          </ion-list-header>
          <ion-item *ngFor="let favstore of personalInfo.favStores">
            {{ favstore }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            Entdeckte Läden
          </ion-list-header>
          <ion-item *ngFor="let favstore of personalInfo.favStores">
            {{ favstore }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button (click)="requestPermission()">
          Hey this is a chat app, you should let us send you notifications for these reasons!
          <!--
            TODO: This should be executed when a user create his homefence the first time.
          -->
        </button>
        <button (click)="deleteMyToken()">
          Delete my token plz
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size=small class="ion-activatable" type="submit" (click)="_authentication.logout()" routerLink="login">
          Logout
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
