@import "../../global.scss";
@import "../../theme/variables.scss";

ion-header {
  padding: 20px 0 !important;
  height: auto !important;
}

ion-col {
  padding: 0;
}

p {
  text-align: center;
  font-size: 11px;
  margin: 0 0 5px;
}

// Horizontal Scroll
.horizontal-scroll-wrapper {
  transform: rotate(-90deg) translateY(-150px);
  transform-origin: right top;
  width: 150px;
  height: 358px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sc-ion-card-ios-h {
  transform: rotate(90deg)
}

// Icons + Buttons
ion-icon {
  font-size: 30px;
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

#qr-icon {
  color: white;
}

ion-fab-button {
  overflow: visible !important;
}

// Card-Section
.store-wrapper {
  width: 100vw;
  height: auto;
  background-color: white;
  position: absolute;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
  left: 0;
  padding: 0 40px;

  h3 {
    margin-top: 45px;
  }

  .favourite-stores {
    margin-left: -15px !important;
    margin-bottom: -70px;

    ion-card {
      background-color: white;
      width: 150px;
      height: 150px;
      margin: 0 0 10px 0;
      top: 15px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px 0;

      ion-card-subtitle {
        padding: 5px;
        text-align: center;
        height: auto;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        margin-top: 5px;
      }

      ion-img {
        height: 115px;
        object-fit: cover;
      }
    }
  }

  .salesperson p {
    margin: 3px 10px 3px 10px;
  }
}

// TODO shadow element main class in ion-content braucht 100vh
ion-content {
  height: 100vh !important;
}


ion-grid {
  padding: 0 40px;
  margin-top: 20px;

  ion-avatar {
    margin: auto;
    height: 120px;
    width: 120px;
  }

  ion-item {
    --background: transparent;
    height: 60px;
    margin-top: -20px;

    .item-inner {
      border: none !important;
    }

    ion-label {
      text-align: center;
    }
  }

  ion-row.section-name {
    margin-bottom: 30px !important;
  }
}

ion-badge {
  margin: 0 30%;
}








