<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-between section-name">
      <h3>Profil</h3>
      <ion-icon routerLink="settings" expand="block" name="settings"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img src="{{ user.photoURL }}" alt="profile_pic"/>
        </ion-avatar>
        <ion-item lines="none">
          <ion-label position="floating" for="name"><b>{{ user.displayName }}</b></ion-label>
        </ion-item>
        <p>Mitglied seit September 2019</p>
        <p>Punktestand: <b>72 Punkte</b></p>
      </ion-col>
    </ion-row>
    <div class="store-wrapper">
      <div *ngIf="favStores" >
        <h3>Lieblingsläden</h3>
        <ion-row class="favourite-stores horizontal-scroll-wrapper">
          <div *ngFor="let store of seller">
            <ion-card routerLink="/tabs/shop/{{ store.uid }}">
              <ion-img src="../../assets/img/alnatura.jpg"></ion-img>
              <ion-card-header>{{ store.storeName }}</ion-card-header>
            </ion-card>
          </div>
        </ion-row>
      </div>
    </div>
  </ion-grid>
  <ion-fab *ngIf="role === 'customer'" vertical="bottom" id="setPosition" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon id="qr-icon" name="qr-scanner" routerLink="/qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
