<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>QR-Code Scannen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="bg-hidden" style="background: none transparent;">
  <ion-fab vertical="top" style="visibility: visible;" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="close" routerLink="/tabs/tabs/tab1"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-row>
    <ion-col>
      <ion-button (click)="checkQRCode('0WfSKft5onQ44wlYWlBqAisk2KJ2')">TestScan</ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>