<!--<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-grid>
  <ion-content>
    <h2>Registriere dich jetzt</h2>
    <hr>
    <p>Teile uns mit, ob du dich als <a routerLink="buyer">Käufer</a> oder <a routerLink="seller">Verkäufer</a> registrieren möchtest und lege dein
      nachhaltiges Profil an.</p>
    <div class="categories">
      <ion-button routerLink="buyer" expand="block">KÄUFER</ion-button>
      <ion-button routerLink="seller" expand="block">VERKÄUFER</ion-button>
    </div>
    <hr>
    <h3>Du hast schon einen Account?</h3>
    <a href="/">Logge dich hier ein.</a>
  </ion-content>
</ion-grid>
